@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;
  --accent: 220.9 39.3% 11%;
  --accent-foreground: 210 20% 98%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --border: 220 13% 91%;
  --radius: 0.5rem;
}
